body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: grey;
}

.bi {
    font-size: 2em;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: 800;
    color: #d97a3a;

}

.banner-img {
    max-width: 75%;
}