main {
font-family: 'Courier New', Courier, monospace;
font-size: 20px;
font-weight: 300;
color: black;

}

body {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 40px;
font-weight: 400;
text-align: center;
color: white;

}